<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>      

    {{ title or site_name }}
      {{ if title }}
        - {{ site_name }}
      {{ /if }}
    </title>
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
        <![endif]-->
<!-- required in all modes -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/standard.css">
<link rel="stylesheet" href="https://raw.githubusercontent.com/igoradamenko/awsm.css/master/dist/awsm.min.css">
    <link rel="stylesheet" href="{{ theme:css }}">
    <link rel="stylesheet" href="{{ theme:addon:css }}">


</head>


<body>

<div class="container standard">
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
<header>

  <h1>{{ site_name }}</h1>

  <nav>
    <a href="{{ homepage }}">Home</a>
  {{ nav from="/" is_hidden:isnt="true" }}
    <a href="{{ url }}">{{ title }}</a> 
  {{ /nav }}
</nav>

</header>

    <article>
        {{ template_content }}
    </article>

<footer>
    <p>&copy; {{ site_name }} {{ now format="Y" }} - Powered by <a href="//statamic.com/">Statamic</a> &amp; <a href="https://hackcss.egoist.moe/">hack.css</a>. Theme by <a href="//cameronwalker.nz">CameronW</a></p>
</footer>

</div>


</body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ theme:js }}"></script>

</html>
